<%- include("./partials/header.ejs") %>

<h1>Random Dog Website</h1>

<br />
<h2>random picture of the day, refresh to get another random dogo</h2>
<img src="<%= message %>" alt="dog image" />

<%- include("./partials/footer.ejs") %>
